[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
keyring = ">=3.2.1"
flask = "==0.12.1"
numpy = "*"
django = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.7"
pip